*checkpoints*
*.ipynb_checkpoints*
*__pycache__*
*Inference*
*Inference_OLD*
*Generations*
*oldfiles*
*Trained_Models*
data
*Untitled.ipynb*
*ptorch.yml*
*.out
*Photon_Yield*
*Untitled.ipynb
*PlotDLL.ipynb
*.pdf
*KDE_Fits
*KDE_Fits_OLD*
*Trained_Models_OLD*
config/hpDIRC_config_clean_COPY.json
config/hpDIRC_config_gulf.json
config/hpDIRC_config.json
*run_DLL_hpDIRC.py*
*run_DLL_fixedpoints_hpDIRC.py*
*run_DLL_fixedpoints.sh*
*time_imagiging_generation.py*
*torch_wsl.yml*
*gen_thetas_hpDIRC.tcsh*
*LUT_Stats*


